.transaction_log {
    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    text-align: left;
    width: 400px;
}

.transaction_log th {
    border-bottom: 2px solid #aaaaaa;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 8px;
}
.transaction_log td {
    padding: 8px 8px 0;
}